@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

body {
  font-family: 'Lato', sans-serif; }

header {
  height: 80px; }
  header .navbar-default {
    height: 80px;
    background-color: #fff; }
    header .navbar-default .navbar-nav .open a, header .navbar-default .navbar-nav .open a:focus, header .navbar-default .navbar-nav .open a.hover {
      background-color: transparent; }

@media (max-width: 220px) and (max-width: 600px) {
  .container .navbar-header {
    height: 200px; } }

.container .navbar-header a figure img {
  width: 180px; }

.container .navbar-collapse {
  font-weight: 300; }
  .container .navbar-collapse ul li .padding-button {
    padding: 27px 20px; }
    .container .navbar-collapse ul li .padding-button .ion-ios-arrow-down {
      position: absolute;
      top: 24px;
      padding: 5px 5px; }
  .container .navbar-collapse ul li .button-blue {
    border-radius: 3px;
    background-color: #0069ff;
    margin-top: 14px;
    color: #fff;
    font-weight: 500; }

.banner {
  background: linear-gradient(180deg, #66a5ff, #0069ff);
  height: auto;
  padding: 60px 0; }
  .banner .container .padding-right {
    padding-right: 139px; }
  .banner .container h1 {
    font-size: 40px;
    color: #fff;
    font-weight: 300;
    padding: 60px 0 0 0;
    line-height: 50px;
    margin: 0 0 30px 0; }
  .banner .container .formulario form {
    width: 100%; }
    .banner .container .formulario form .form-input {
      margin: 0 0 15px 0;
      padding: 0; }
      .banner .container .formulario form .form-input .txt-area {
        width: 100%;
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
        border-radius: 3px;
        border: 1px solid #fff;
        font-size: 14px; }
        .banner .container .formulario form .form-input .txt-area::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.7) !important;
          font-weight: 300;
          font-size: 14px; }
      .banner .container .formulario form .form-input .create-account {
        width: 100%;
        padding: 15px;
        background-color: #fff;
        color: #0069ff;
        border: none;
        border-radius: 3px; }
  .banner .container .formulario p {
    color: #fff;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 1px; }
    .banner .container .formulario p .terms {
      color: #fff;
      text-decoration: none;
      border-bottom: 1px solid currentColor; }
  .banner .container .browser figure img {
    width: 100%; }

.manage {
  height: auto;
  padding: 80px 0; }
  .manage .container {
    text-align: left; }
    .manage .container .padding-items {
      padding: 20px 45px; }
    .manage .container h2 {
      font-size: 30px;
      margin-bottom: 55px;
      text-align: center; }
    .manage .container figure {
      margin-bottom: 30px;
      height: 140px; }
      .manage .container figure img {
        width: 130px; }
    .manage .container h3 {
      font-size: 23px;
      font-weight: 500;
      margin-bottom: 30px; }
    .manage .container p {
      font-weight: 300;
      line-height: 30px; }

.pricing {
  border-top: 1px solid #e0e0e0;
  height: auto;
  padding: 80px 0; }
  .pricing .container h2 {
    font-size: 30px;
    margin-bottom: 55px;
    text-align: center; }
  .pricing .container .mes-hora {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .pricing .container .mes-hora .mensual {
      color: #0069ff;
      padding: 0; }
      .pricing .container .mes-hora .mensual h4 {
        font-size: 13px; }
    .pricing .container .mes-hora .interruptor figure img {
      width: 80px; }
    .pricing .container .mes-hora .hora {
      padding: 0; }
      .pricing .container .mes-hora .hora h4 {
        font-size: 13px; }

.tabla-precios-todos {
  padding: 70px 0;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .tabla-precios-todos .tabla-precio {
    width: 20%;
    text-align: center;
    border: 1px solid #0069ff;
    padding: 30px; }
    .tabla-precios-todos .tabla-precio:odd {
      background-color: red; }
    .tabla-precios-todos .tabla-precio.precio-active {
      box-shadow: 2px 0px 31px -1px #0069ff;
      padding: 50px 0; }
    .tabla-precios-todos .tabla-precio .precio-grande {
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0 0 40px 0; }
      .tabla-precios-todos .tabla-precio .precio-grande .superior {
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
        font-size: 21px;
        font-weight: 700; }
      .tabla-precios-todos .tabla-precio .precio-grande .numero {
        font-size: 55px;
        font-weight: 700; }
      .tabla-precios-todos .tabla-precio .precio-grande .abajo {
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;
        font-weight: 700; }
    .tabla-precios-todos .tabla-precio ul li {
      color: #0069ff;
      padding: 7px 0;
      font-weight: 300; }
      .tabla-precios-todos .tabla-precio ul li .bolder {
        font-weight: 700; }

.container .btn-precio {
  text-align: center; }
  .container .btn-precio .margin {
    margin: 20px 0; }
    .container .btn-precio .margin a {
      background-color: #0069ff;
      color: #fff;
      padding: 15px 80px;
      border-radius: 3px;
      text-decoration: none; }
    .container .btn-precio .margin p {
      font-weight: 300;
      font-size: 14px; }

.mapa {
  border-top: 1px solid #e0e0e0;
  height: auto;
  padding: 80px 0; }
  .mapa .container h2 {
    font-size: 30px;
    margin-bottom: 55px;
    text-align: center; }
