@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$color-blanco : #fff;
$color-azul : #0069ff;
$font-light : 300;
$font-regular : 500;
$font-bold : 700;

.flex {
	display: flex;
}

$phone : "(max-width : 220px) and (max-width : 600px)";

body {
	font-family: 'Lato', sans-serif;
}

header {
	height: 80px;
	.navbar-default {
		height: 80px;
		background-color: $color-blanco;
		.navbar-nav {
			.open {
				a, a:focus, a.hover {
					background-color: transparent;
				}
			}
		}
	}
}

.container {
	.navbar-header {
		@media #{$phone} {
			height: 200px;
		}
		a {
			figure {
				img {
					width: 180px;
				}
			}
		}
	}
	.navbar-collapse {
		font-weight: $font-light;
		ul {
			li {
				.padding-button {
					padding: 27px 20px;
					.ion-ios-arrow-down {
						position: absolute;
						top: 24px;
						padding: 5px 5px;
					}
				}
				.button-blue {
					border-radius: 3px;
					background-color: $color-azul;
					margin-top: 14px;
					color: $color-blanco;
					font-weight: $font-regular;
				}
			}
		}
	}
}

.banner {
	background: linear-gradient(180deg,#66a5ff,#0069ff);
	height: auto;
	padding: 60px 0;
	.container {
		.padding-right {
			padding-right: 139px;
		}
			h1 {
				font-size: 40px;
				color: $color-blanco;
				font-weight: $font-light;
				padding: 60px 0 0 0;
				line-height: 50px;
				margin: 0 0 30px 0;
			}
			.formulario {
				form {
					width: 100%;
					.form-input {
						margin: 0 0 15px 0;
						padding: 0;
						.txt-area {
							width: 100%;
							padding: 15px;
							background-color: hsla(0,0%,100%,.1);
							color: $color-blanco;
							border-radius: 3px;
							border: 1px solid #fff;
							font-size: 14px;
							&::-webkit-input-placeholder {
		  						color: rgba(255, 255, 255, 0.7) !important;
		  						font-weight: $font-light;
		  						font-size: 14px;
							}
						}
						.create-account {
							width: 100%;
							padding: 15px;
							background-color: $color-blanco;
							color: $color-azul;
							border: none;
							border-radius: 3px;
						}
					}
				}
				p {
					color: $color-blanco;
					font-weight: $font-light;
					font-size: 13px;
					letter-spacing: 1px;
					.terms {
						color: $color-blanco;
						text-decoration: none;
						border-bottom: 1px solid currentColor;
					}
				}
			}
		.browser {
			figure {
				img {
					width: 100%;
				}
			}
		}	
	}
}

.manage {
	height: auto;
	padding: 80px 0;
	.container {
		text-align: left;
		.padding-items {
			padding: 20px 45px;
		}
		h2 {
			font-size: 30px;
			margin-bottom: 55px;
			text-align: center;
		}
		figure {
			margin-bottom: 30px;
			height: 140px;
			img {
				width: 130px;
			}
		}
		h3 {
			font-size: 23px;
			font-weight: $font-regular;
			margin-bottom: 30px;
		}
		p {
			font-weight: $font-light;
			line-height: 30px;
		}

	}
}

.pricing {
	border-top: 1px solid #e0e0e0;
	height: auto;
	padding: 80px 0;
	.container {
		h2 {
			font-size: 30px;
			margin-bottom: 55px;
			text-align: center;
		}
		.mes-hora {
			display: flex;
			align-items: center;
			.mensual {
				color: $color-azul;;
				padding: 0;
				h4 {
					font-size: 13px;
				}
			}
			.interruptor {
				figure {
					img {
						width: 80px;
					}
				}
			}
			.hora {
				padding: 0;
				h4 {
					font-size: 13px;
				}
			}
		}
		
	}
}

.tabla-precios-todos {
	padding: 70px 0;
	align-items: center;
	.tabla-precio {
		width: 20%;
		text-align: center;
		border: 1px solid $color-azul;
		padding: 30px;
		&:odd{
			background-color: red;
		}
		&.precio-active {
			box-shadow: 2px 0px 31px -1px rgba(0,105,255,1);
			padding: 50px 0;
		}
		.precio-grande {
			justify-content: center;
			margin: 0 0 40px 0;
			.superior {
				align-self: flex-start;
				font-size: 21px;
				font-weight: $font-bold;
			}
			.numero {
	    		font-size: 55px;
	    		font-weight: $font-bold;
			}
			.abajo {
				align-self: flex-end;
				font-weight: $font-bold;
			}
		}
		ul {
			li {
				color: $color-azul;
				padding: 7px 0;
				font-weight: $font-light;
				.bolder {
					font-weight: $font-bold;
				}
			}
		}
	}
}

.container {
	.btn-precio {
	text-align: center;
		.margin {
			margin: 20px 0;
			a {
				background-color: $color-azul;
				color: $color-blanco;
				padding: 15px 80px;
				border-radius: 3px;
				text-decoration: none;
			}
			p {
				font-weight: $font-light;
				font-size: 14px;
			}
		}
	}
}

.mapa {
	border-top: 1px solid #e0e0e0;
	height: auto;
	padding: 80px 0;
	.container {
		h2 {
			font-size: 30px;
			margin-bottom: 55px;
			text-align: center;
		}
		.img-mapa {
			padding: 0 90px;
			figure {
				img {
					width: 100%;
				}
			}
		}
		.btn-precio {
			a {
				padding: 20px 30px;
			}
		}
	}
}

.marcas {
	border-top: 1px solid #e0e0e0;
	height: auto;
	padding: 80px 0;
	.container {
		h2 {
			font-size: 30px;
			margin-bottom: 55px;
			text-align: center;
		}
		.img-marcas {
			padding: 0 0 70px 0;
			figure {
				img {
					width: 100%;
				}
			}
		}
		.btn-precio {
			a {
				padding: 20px 30px;
			}
		}
	}
}

.help-azul {
	border-top: 1px solid #e0e0e0;
	height: auto;
	padding: 80px 0;
	background-color: $color-azul;
	background-image: url('../img/lineas.svg');
	background-size: cover;
	.container {
		&.small {
			padding: 0 250px;
			h2 {
			font-size: 30px;
			margin-bottom: 40px;
			text-align: center;
			color: $color-blanco;
			line-height: 40px;
			}
			.btn-precio {
				.margin {
					a {
						color: $color-azul;
						background-color: $color-blanco;
					}
				}
			}
		}	
	}
}

footer {
	background-color: #2e3234;
	height: auto;
	padding: 80px 0;
	.container {
		ul {
			color: $color-blanco;
			li {
				font-weight: $font-light;
				padding: 10px 0;
				font-size: 14px;
				&.titulo {
					font-size: 20px;
					font-weight: $font-bold;
				}
			}
		}
		.ion-social-twitter, .ion-social-facebook, .ion-social-linkedin, .ion-social-octocat, .ion-social-googleplus, .ion-social-instagram, .ion-social-youtube {
			color: $color-blanco;
			margin: 0 3px;
		}
		.copyright {
			text-transform: uppercase;
			color: $color-blanco;
			padding: 13px 0;
			font-size: 12px;
			line-height: 22px;
			letter-spacing: 1px;
		}
	}
}






